body {
    background-color: rgba(49, 123, 34, 0.3);
    /* background-color: #93827F; */
    color: black;
    font-family: 'Montserrat', sans-serif;
}

legend {
    background-color: #317B22;
    color: #f1faee;
    text-align: center;
    margin-bottom: 2rem;
    padding: 20px;
    width: 50%;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 10px;
    font-weight: bold;
}

fieldset {
    padding: 1rem;
}

.form-label {
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    letter-spacing: 1px;
}

.form-control {
    text-align: center;
    font-size: 1rem;
    outline: none;
    transition: all 0.30s ease-in-out;
    height: 3rem;
    letter-spacing: 1px;
    color: #1d3557;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.styled-button {
    background-color: #5448C8;
    color: #f1faee;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}