
.navbar{
    font-weight: bold;
    background-color: white;
    color: black;
    box-shadow: 0 4px 3px -3px black;
}

.navbar-brand {
    letter-spacing: 1px;
    font-style: italic;
}

@media only screen and (min-width: 992px){
    .navbar {
        height: 10vh;
    }
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #080808;
}

.navbar-default .navbar-brand {
    color: #080808;
}

.navbar-default .navbar-toggle {
    border-color: #080808;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #080808;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #080808;
    background-color: transparent;
}

img{
  width: 130px;
  height: 60px;
}

.nav-button {
    border: none;
    /* color: rgba(255, 255, 255, .5); */
    font-weight: bold;
}

.nav-button:hover {
    /* color: white; */
}

.nav-link {
    color: black;
}